
*{
    margin: 0;
    padding: 0;
}

/* Home Page CSS */
.title_style2{

    text-align: left;
    font-size: 40px;
    font-weight: bold;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    


}
.slider_style2{
    color: rgb(131, 15, 15);
    box-sizing: border-box;
    margin-left: 12px;
    animation: slider 6s linear infinite;

}

@keyframes slider {
    0%{ margin-top: -130px;  }
    30%{ margin-top: -130px;  }
    35%{ margin-top: 0px;  }
     65%{ margin-top: 0px;  }
    70%{ margin-top: 100px;  }
    100%{ margin-top: 100px;  }
}



